.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
    font-family: 'Montez', cursive; 
    color: blue;
    font-weight: 50;
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title-tagline {
    font-family: 'Ubuntu Mono', monospace;
    font-size:15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.topButtons{    
    background: blue;
    color: white;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 40px;
    float: right;
    border-color: white;
}
